#body {
  background: url(images/rain.jpg) no-repeat ;
  background-size: cover;
  height: 100vh;
}
.box {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.377);
  border-radius: 12px;
  
}
